# Introduction to Scikit-Learn

What we are going to cover: 
    
0. End to End sklearn workflow
1. Getting the data ready
2. Choose the right estimator/algo for our problem
3. Fit the model/algo and use it to make predictions on our data
5. Eval a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

# 0. An end-to-end sklearn workflow

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (Features Matrix)

X = heart_disease.drop("target", axis=1)

# Create y 

y = heart_disease["target"]

In [7]:
# Choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
# 3. Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

X_train
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2

In [9]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [15]:
# make a prediction

y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [16]:
y_test

286    0
77     1
66     1
280    0
87     1
      ..
160    1
168    0
147    1
215    0
64     1
Name: target, Length: 61, dtype: int64

In [17]:
# 4 Evaluate the model on the training data and test data
clf.score(X_train, y_train)

0.9628099173553719

In [18]:
clf.score(X_test, y_test)

0.9672131147540983

In [19]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97        30
           1       1.00      0.94      0.97        31

    accuracy                           0.97        61
   macro avg       0.97      0.97      0.97        61
weighted avg       0.97      0.97      0.97        61

In [20]:
confusion_matrix(y_test, y_preds)

array([[30,  0],
       [ 2, 29]])

In [21]:
accuracy_score(y_test, y_preds)

0.9672131147540983

In [26]:
# 5. Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10, 110, 10):
    print(f"Trying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%)")

Trying model with 10 estimators
Model accuracy on test set: 68.85%)
Trying model with 20 estimators
Model accuracy on test set: 68.85%)
Trying model with 30 estimators
Model accuracy on test set: 73.77%)
Trying model with 40 estimators
Model accuracy on test set: 72.13%)
Trying model with 50 estimators
Model accuracy on test set: 75.41%)
Trying model with 60 estimators
Model accuracy on test set: 75.41%)
Trying model with 70 estimators
Model accuracy on test set: 72.13%)
Trying model with 80 estimators
Model accuracy on test set: 75.41%)
Trying model with 90 estimators
Model accuracy on test set: 72.13%)
Trying model with 100 estimators
Model accuracy on test set: 72.13%)

In [23]:
# 6. Save a model and load it

import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb")) # wb = write binary

In [24]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb")) # rb = write binary

In [25]:
loaded_model.score(X_test, y_test)

0.7213114754098361

In [29]:
import sklearn
sklearn.show_versions()

System:
    python: 3.10.4 (main, Mar 31 2022, 08:41:55) [GCC 7.5.0]
executable: /home/aa87/web-dev/python-ml-ds/sample-project/env/bin/python
   machine: Linux-6.0.12-76060006-generic-x86_64-with-glibc2.35

Python dependencies:
      sklearn: 1.1.1
          pip: 22.1.2
   setuptools: 63.4.1
        numpy: 1.21.5
        scipy: 1.7.3
       Cython: None
       pandas: 1.4.3
   matplotlib: 3.5.2
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: /home/aa87/web-dev/python-ml-ds/sample-project/env/lib/libmkl_rt.so.1
         prefix: libmkl_rt
       user_api: blas
   internal_api: mkl
        version: 2021.4-Product
    num_threads: 4
threading_layer: intel

       filepath: /home/aa87/web-dev/python-ml-ds/sample-project/env/lib/libiomp5.so
         prefix: libiomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

       filepath: /home/aa87/web-dev/python-ml-ds/sample-project/env/lib/libgomp.so.1.0.0
         prefix: libgomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

# 1. Getting our data ready for use with ML

3 main things we need to do 
1. Split the data into features and labels (usually `x` and `y`)
2. Filling (also called imputing) or disregarding missing values
4. non-numerical values to numerical values (also called feature encoding)

In [32]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [33]:
X = heart_disease.drop("target", axis=1) # axis 1 -> column axis, axis 0 -> row axis
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [34]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

## Split the data into training and test set

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # test_size -> 20% test data size

In [36]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [37]:
X.shape

(303, 13)